<div class="container text-center">
  <h2>Dirigirse a:</h2>
  <a href="products" class="btn btn-secondary mr-2">Products</a>
  <a href="/api/chat" class="btn btn-secondary mr-2">Chat</a>
  <a href="/carts" class="btn btn-secondary">Carts</a>
  <a href="/api/sessions/logout" class="btn btn-secondary">Logout</a>
</div>