<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f5f5f5;
        }

        h2 {
            color: #333;
        }

        hr {
            border: 0;
            height: 1px;
            background-color: #ccc;
            margin: 10px 0;
        }

        a {
            text-decoration: none;
            color: #007bff;
            margin-right: 10px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h2>Realtime Products</h2>
    <h2>Websocket</h2>
    <a href="/">Home Page</a>
    <hr />
    <a href="/chat">Chat</a>
    <hr />
    <a href="/products">Products</a>
    <hr />

    <ul id="lista1">
        {{#each resultado}}
            <li id="{{this.id}}">ID: {{this.id}} Producto: {{this.title}}</li>
        {{/each}}
    </ul>

    <script src="socket.io/socket.io.js"></script>
    <script src="assets/scripts/realtimeproducts.js"></script>
</body>
</html>
